.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 40px 40px;
}

.test-mode a {
    color: #333;
    padding: 10px 15px;
    background: #F7E633;
    border-radius: 5px;
    font-weight: 600;
}
.test-mode {
    top: -40px;
    position: absolute;
    left: 0;
}