@use '../utils' as *;

.profile__wrapper {
  cursor: pointer;
  position: relative;

  .profile {
    &__photo {
      background: white;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      span{
        font-weight: 500;
        font-size: 1rem;
        margin-right: 8px;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }

    &__dropdown {
      position: absolute;
      padding: 15px;
      margin-top: 6px;
      top: 100%;
      right: 0;
      border-radius: 5px;
      background: rgb(255, 255, 255);
      box-shadow: 0 0.125rem 6rem 2px rgb(0 0 0 / 20%);
      z-index: 99999999999;
      animation: dropdown 0.3s ease-in-out;
      .user_info {
        cursor: default;
        img {
          width: 35px;
          height: 35px;
        }

        .user_name {
          font-weight: 600;
          font-size: 1rem;
        }

        .user_email {
          font-size: 0.9rem;
        }
      }

      .separator {
        margin: 12px 0;
        height: 1px;
        background: #edeff4;
      }

      .link {
        border-radius: 4px;
        padding: 8px 12px;
        font-weight: 500;
        font-size: 0.95rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 11px;
        text-decoration: none;
        color: rgb(90, 88, 88);
        opacity: 0.9;

        &:hover {
          background: #e7edf8;
          opacity: 1;
        }
      }
      .link.balance{
        gap: 0;
        justify-content: space-between;
        .balance_label{
          display: flex;
          align-items: center;
          gap: 11px;
        }
        .balance_value{
          color: var(--tp-theme-2);
        }
      }
    }
  }

}

@keyframes dropdown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
