@use '../utils' as *;

/*----------------------------------------*/
/*  09. CAMPUS CSS START
/*----------------------------------------*/

.campus{
    &__thumb{
        position: relative;

        & .play-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px;
            height: 70px;
            line-height: 70px;
            @include transform(translate(-50%, -50%));
            z-index: 1;
        }
    }
    &__btn{
        @media #{$xl}{
            margin-bottom: 65px;
        }
        @media #{$md}{
            margin-bottom: 50px;
        }
    }
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
  }
  .react-responsive-modal-modal {
    overflow-y: hidden !important; 
}