@use '../utils' as *;

/*----------------------------------------*/
/*  26. ERROR CSS START
/*----------------------------------------*/

.error{
    &__title{
        font-size: 55px;
        line-height: .9;
        margin-bottom: 40px;
        @media #{$sm}{
            font-size: 40px;
        }
        @media #{$xs}{
            font-size: 37px;
        }
    }
    &__content{
        & p{
            font-size: 18px;
            color: var(--tp-text-1);
            margin-bottom: 45px;
        }
    }
    &__thumb{
        & img{
            @media #{$sm}{
                width: 100%;
            }
            @media #{$xs}{
                width: 100%;
            }
        }
    }
}
.error_breadcrumb{
    background: url(../../img/breadcrumb/breadcrumb-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}