@forward 'components/theme';
@forward 'components/background';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/carousel';
@forward 'components/modal';
@forward 'components/FixedBottomEnroll';
@forward 'components/ProfileDropdown';
@forward 'components/CreateCourse';
@forward 'components/CreateSession';
@forward 'components/AttendanceSession';
@forward 'components/section-title';
@forward 'components/breadcrumb';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'layout/fontawesome';
@forward 'layout/header';
@forward 'layout/meanmenu';
@forward 'layout/slider';
@forward 'layout/features';
@forward 'layout/about';
@forward 'layout/counter';
@forward 'layout/course';
@forward 'layout/campus';
@forward 'layout/research';
@forward 'layout/blog';
@forward 'layout/cta';
@forward 'layout/footer';
@forward 'layout/offcanvas';
@forward 'layout/category';
@forward 'layout/event';
@forward 'layout/team';
@forward 'layout/testimonial';
@forward 'layout/brand';
@forward 'layout/certificate';
@forward 'layout/price';
@forward 'layout/faq';
@forward 'layout/app';
@forward 'layout/contact';
@forward 'layout/teacher';
@forward 'layout/error';
@forward 'layout/login';
@forward 'layout/cart';
@forward 'layout/profile';
@forward 'layout/hero';

/* CUSTOMIZED SCROLLBAR */

::-webkit-scrollbar {
  width: 6px
}

::-webkit-scrollbar-track {
  background: #f1f1f1
}

::-webkit-scrollbar-thumb {
  background: #888
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}

.status-tag{
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 12px;
  font-weight: 600;
  @include border-radius(4px);
  &__active{
    color: rgb(34, 154, 22);
    background: rgba(84, 214, 44, 0.16);
  }
  &__inactive{
    color: var(--tp-common-pink-2);
    background: rgba($color: #FC4C56, $alpha: .08);
  }
  &__pending{
    background: rgba(255, 193, 7, 0.16);
    color: rgb(183, 129, 3);
  }
}

.nav-item{
  flex: 1 !important;
}

.z-index-0{
  z-index: 0;
}